## Indian Superleague Analysis on xT

In [1]:
import pandas as pd
import json
# plotting
import os
import pathlib
import warnings 
from joblib import load
from mplsoccer import Pitch
from itertools import combinations_with_replacement
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import xgboost as xgb
from scipy.stats import binned_statistic_2d
pd.options.mode.chained_assignment = None
warnings.filterwarnings('ignore')
from mplsoccer import Sbopen
import time

C:\Users\aleex\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
parser = Sbopen()
matches = parser.match(competition_id = 1238,season_id = 108)

In [3]:
matches = matches['match_id'].to_list()

In [4]:
df = pd.DataFrame()
for i in matches:
    print(i)
    match = parser.event(i)[0]
    df = pd.concat([df,match])
    time.sleep(1)
    
df.head()

3827767
3827335
3827336
3827338
3827337
3817856
3817891
3817870
3817899
3817866
3817889
3817887
3817872
3817900
3817855
3817863
3817877
3817901
3817880
3817902
3817862
3817873
3817869
3817881
3817895
3817884
3817896
3817852
3817883
3817886
3817864
3817882
3817894
3817871
3817861
3817888
3817875
3817868
3817867
3813313
3817890
3813302
3817857
3817898
3817893
3817854
3817892
3817859
3817858
3817897
3817885
3817878
3817876
3813305
3813266
3813271
3813311
3813303
3813304
3813306
3813283
3813275
3813278
3813295
3813296
3813282
3813269
3817879
3817874
3817865
3817860
3817853
3817851
3817850
3817849
3817848
3813318
3813287
3813270
3813307
3813279
3813281
3813274
3813285
3813317
3813316
3813315
3813314
3813312
3813310
3813309
3813308
3813301
3813300
3813299
3813298
3813297
3813294
3813293
3813292
3813291
3813290
3813289
3813288
3813286
3813284
3813280
3813277
3813276
3813273
3813272
3813268
3813267
3813265
3813264

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,shot_deflected,shot_open_goal,ball_recovery_offensive,pass_miscommunication,player_off_permanent,dribble_no_touch,foul_committed_penalty,foul_won_penalty,shot_follows_dribble,shot_redirect
0,c9e9f330-477c-460b-9579-5a29225ed31c,1,1,00:00:00,0,0,1,0.0,3827767,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3e7ff622-8281-4f4e-95b6-4ed1187878af,2,1,00:00:00,0,0,1,0.0,3827767,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5309e6c3-1db5-4294-9640-6ee60654aca3,3,1,00:00:00,0,0,1,0.0,3827767,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dda59477-eb39-4c32-bb88-71cda6895d5b,4,1,00:00:00,0,0,1,0.0,3827767,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a4a578a0-5856-409c-b311-5273f832090e,1613,1,00:00:00.192000,0,0,96,NaN,3827767,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape[0]

344677

In [19]:
df['x'] = df['x'] * 105 / 120
df['y'] = df.y.apply(lambda x: (80 - x) * 68/80)
df['end_x'] = df['end_x'] * 105 / 120
df["end_y"] = df.end_y.apply(lambda x: (80 - x) * 68/80)
df['Cx'] = 105 - df['x']
df["Cy"] = df.y.apply(lambda x: abs(x - 68/2))
df["Cend_y"] = df.end_y.apply(lambda x: abs(x - 68/2))

In [22]:
var = ['x','end_x','Cy','Cend_y']
#combinations
inputs = []

inputs.extend(combinations_with_replacement(var, 1))
#one variable combinations
inputs.extend(combinations_with_replacement(var, 1))
#2 variable combinations
inputs.extend(combinations_with_replacement(var, 2))
#3 variable combinations
inputs.extend(combinations_with_replacement(var, 3))

In [23]:
for i in inputs:
    if len(i)>1:
        col= ''
        x=1
        
        for c in i:
            col+=c
            #print(col)
            
            x = x * df[c]
            
        df[col] = x
        var.append(col)
        
df.head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,end_xend_xend_x,end_xend_xCy,end_xend_xCend_y,end_xCyCy,end_xCyCend_y,end_xCend_yCend_y,CyCyCy,CyCyCend_y,CyCend_yCend_y,Cend_yCend_yCend_y
0,c9e9f330-477c-460b-9579-5a29225ed31c,1,1,00:00:00,0,0,1,0.0,3827767,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3e7ff622-8281-4f4e-95b6-4ed1187878af,2,1,00:00:00,0,0,1,0.0,3827767,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5309e6c3-1db5-4294-9640-6ee60654aca3,3,1,00:00:00,0,0,1,0.0,3827767,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dda59477-eb39-4c32-bb88-71cda6895d5b,4,1,00:00:00,0,0,1,0.0,3827767,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a4a578a0-5856-409c-b311-5273f832090e,1613,1,00:00:00.192000,0,0,96,NaN,3827767,42,...,NaN,NaN,NaN,NaN,NaN,NaN,1380.608885,NaN,NaN,NaN

In [28]:
path_model = os.path.join(str(pathlib.Path().resolve()),'model','model_xT.json')
model = xgb.XGBClassifier()
model.load_model(path_model)

In [38]:
mov = df[(df['end_x'].isna()==False) & (df['type_name']!= "Goal Keeper")]
mov.shape[0]

169166

In [39]:
mov.type_name.value_counts()

Pass     95604
Carry    70467
Shot      3095
Name: type_name, dtype: int64

In [54]:
mov['possession_id'] = mov.possession.astype(str) + '_' + mov.match_id.astype(str)
len(mov['possession_id'].unique())

21552

In [71]:
mov['shot_end'] = 0
mov['xG'] = 0
for i in mov.possession_id.unique():
    k = mov[mov.possession_id==i]
    if k.iloc[-1]["type_name"] == "Shot":
        mov.loc[mov["possession_id"] == i, "shot_end"] = 1
        mov.loc[mov["possession_id"] == i, "xG"] = mov[mov.possession_id==i].iloc[-1]['shot_statsbomb_xg']

In [72]:
mov.shot_end.value_counts()

0    145895
1     23271
Name: shot_end, dtype: int64

In [73]:
passes = mov[mov.type_name!='Shot']
X = passes[var].values
y = passes["shot_end"].values

In [74]:
y_pred_proba = model.predict_proba(X)[::,1]
y_pred_proba

array([0.03232797, 0.0361133 , 0.04519497, ..., 0.22312413, 0.03712748,
       0.07796211], dtype=float32)

In [77]:
passes['shot_prob'] = y_pred_proba
shot_ended = passes[passes["shot_end"] == 1]
X_train = shot_ended[var].values
y_train = shot_ended["xG"].values

lr = LinearRegression()
lr.fit(X_train,y_train)

y_pred = lr.predict(X)
passes["xG_pred"] = y_pred

passes['xT'] = passes["xG_pred"] * passes['shot_prob']
passes.xT.isna().any()

False

In [79]:
passes.type_name.value_counts()

Pass     95604
Carry    70467
Name: type_name, dtype: int64

In [85]:
gr1 = passes.groupby("player_name",as_index=False)['xT'].sum().sort_values(by='xT',ascending=False)
gr1.head(25)

                             player_name         xT
84                          Greg Stewart  21.179877
14                Alberto Noguera Ripoll  18.807620
5            Adrián Nicolás Luna Retamar  17.708117
123                  Jorge Ortiz Mendoza  16.223035
52        Cássio Gabriel Vilela Ferreira  15.675176
71                  Eduardo Bedia Peláez  15.188596
99                    Hugo Adnan Boumous  14.585891
154                        Liston Colaco  13.659978
157                         Manvir Singh  13.196448
6                           Ahmed Jahouh  12.781409
51        Cleiton Augusto Oliveira Silva  12.615325
77   Francisco Javier Hernández González  12.575578
274                   Vladimir Koman Jr.  12.467747
283                Álvaro Vázquez García  11.670128
121                     Joni Ensio Kauko  11.005267
140                    Lalengmawia Ralte  10.920584
26                         Anirudh Thapa  10.648951
260                Suhair Vadakkepeedika  10.496782
11                          Akash Mishra  10.269785
39         Bartholomew Owogbalor Ogbeche  10.161916
124           Jorge Rolando Pereyra Díaz  10.011458
224                    Ricky Lallawmawma   9.924865
185                  Naorem Roshan Singh   9.795851
127     João Victor de Albuquerque Bruno   9.587140
248                    Seriton Fernandes   9.382915

In [114]:
gr2 = passes.groupby("player_name",as_index=False).agg({'xT': ['mean', 'sum', 'count']})
cols = []
for i in gr2.columns:
    if i[1]=='':
        cols.append(i[0])
    else:
        cols.append(i[1])
        
gr2.columns = cols
gr2 = gr2.sort_values('mean',ascending=False)
gr2 = gr2[gr2['count']>gr2['count'].quantile(0.7)]
gr2.head(25)

                             player_name      mean        sum  count
51        Cleiton Augusto Oliveira Silva  0.013406  12.615325    941
124           Jorge Rolando Pereyra Díaz  0.013104  10.011458    764
84                          Greg Stewart  0.012813  21.179877   1653
39         Bartholomew Owogbalor Ogbeche  0.012012  10.161916    846
283                Álvaro Vázquez García  0.011908  11.670128    980
123                  Jorge Ortiz Mendoza  0.011638  16.223035   1394
77   Francisco Javier Hernández González  0.011474  12.575578   1096
157                         Manvir Singh  0.011327  13.196448   1165
154                        Liston Colaco  0.010731  13.659978   1273
262                        Sunil Chhetri  0.010670   8.120039    761
268                   Udanta Kumam Singh  0.010660   8.368462    785
99                    Hugo Adnan Boumous  0.010654  14.585891   1369
260                Suhair Vadakkepeedika  0.010624  10.496782    988
52        Cássio Gabriel Vilela Ferreira  0.010333  15.675176   1517
231                    Sahal Abdul Samad  0.009946   8.295283    834
144                Lallianzuala Chhangte  0.009716   7.986382    822
17            Alexandre Monteiro de Lima  0.009707   8.610266    887
113                Jerry Mawihmingthanga  0.009422   7.933226    842
5            Adrián Nicolás Luna Retamar  0.009286  17.708117   1907
43                 Bipin Singh Thounajam  0.009223   8.614533    934
191                       Nikhil Poojary  0.008919   7.027911    788
14                Alberto Noguera Ripoll  0.008909  18.807620   2111
103                           Imran Khan  0.008690   7.438351    856
121                     Joni Ensio Kauko  0.008625  11.005267   1276
26                         Anirudh Thapa  0.008378  10.648951   1271